.App {
  text-align: center;
}

#inputfield {
	float:left;
}

#submitbutton {
	float:left;
}

.topbar {
	width: 100%;
	height: 52px;
	background-color: #04AA6D;
}

.topbarbutton {
	position: relative;
	display: inline-block;
	float: left;
}

.dropbutton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.topbarbutton:hover .dropbutton {background-color: #209041;}

.contentcenteringdiv {
	padding-left: 5%;
	padding-right: 5%;
	background-color: beige;
	min-height: 600px;
}

.contentdiv {
	background-color: white;
	max-width: 100%;
	min-height: 600px;
}

#wordgame {
	float:left;
	align:left;
	background-color: white;
	width: 100%;
	height: 100%;
}

#wordgamewordone {
	font-size: 32px;
}










